+++
title = "Kapacity"
linkTitle = "Kapacity"

+++

{{< blocks/cover title="Welcome to Kapacity!" image_anchor="top" color="primary" >}}

<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		开始使用 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/traas-stack/kapacity.git">
		下载代码 <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5" style="font-size: 26px;">云原生弹性容量技术</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}



{{% blocks/lead color="primary" %}}
Kapacity 基于蚂蚁内部的超大规模生产业务实践，旨在为用户提供一套具备完善技术风险能力的、智能且开放的云原生容量技术，帮助用户安全稳定地实现极致降本增效，解决容量相关问题。
{{% /blocks/lead %}}

{{< blocks/section color="white" >}}
{{% blocks/feature icon="fa-book" title="介绍" url="/docs" %}}
Kapacity是一种云原生智能弹性容量技术，
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="共建" url="https://github.com/traas-stack/kapacity.git" %}}
欢迎大家在 **GitHub** 上积极提交 [Pull Request](https://github.com/traas-stack/kapacity/pulls)，一起共建Kapacity。
{{% /blocks/feature %}}


{{% blocks/feature icon="fa fa-envelope" title="邮箱" %}}
如果你有好的想法可以通过以下邮箱联系我们：

**traaskapacity.io@gmail.com**
{{% /blocks/feature %}}


{{< /blocks/section >}}
