+++
title = "Kapacity"

+++

{{< blocks/cover title="欢迎来到 Kapacity 社区！" image_anchor="top" color="primary" >}}
<div class="mx-auto">
    <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
        了解更多 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
    </a>
    <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/traas-stack/kapacity">
        GitHub <i class="fab fa-github ml-2 "></i>
    </a>
    <p class="lead mt-5" style="font-size: 26px;">
        Kapacity 旨在为用户提供一套具备完善技术风险能力的、智能且开放的云原生容量技术，帮助用户安全稳定地实现极致降本增效，解决容量相关问题。
    </p>
    {{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Kapacity 基于蚂蚁集团内部容量系统的核心理念和多年的大规模生产实践经验而构建，该内部容量系统目前已能安全稳定地为蚂蚁持续节省年均约 10w 核的算力成本，同时，Kapacity 也结合了来自云原生社区的最佳实践。
{{% /blocks/lead %}}


{{< blocks/section color="white" >}}

{{% blocks/feature icon="fa-anchor" title="Kubernetes 原生" url="/zh-cn/docs/getting-started/installation" %}}
Kapacity 是一个开箱即用的 Kubernetes 插件，易于 k8s 用户的安装与使用。
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-cubes" title="Intelligent HPA" url="/zh-cn/docs" %}}
一个智能化的、具备完善技术风险能力的且高度可扩展定制的 HPA 替代方案。
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-puzzle-piece" title="开放可扩展" %}}
Kapacity 在一开始就被设计为了一个开放的项目，使其易于被集成或扩展。
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-lightbulb" title="还有更多..." url="/zh-cn/docs/roadmap" %}}
更多能力规划中，敬请期待 :)
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="欢迎贡献" url="/zh-cn/docs/contribution-guidelines" %}}
我们热忱地欢迎任何形式的贡献 🤗
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-users" title="加入社区" url="/zh-cn/community" %}}
如果你有任何需求或疑问，欢迎通过社区和我们直接沟通。
{{% /blocks/feature %}}

{{< /blocks/section >}}
