+++
title = "Kapacity"
linkTitle = "Kapacity"

+++

{{< blocks/cover title="Welcome to Kapacity!" image_anchor="top" color="primary" >}}

<div class="mx-auto">
    <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
    Get Started <i class="fas fa-arrow-alt-circle-right ml-2"></i>
    </a>
    <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/traas-stack/kapacity.git">
        Download <i class="fab fa-github ml-2 "></i>
    </a>
    <p class="lead mt-5" style="font-size: 26px;">A cloud-native intelligent capacity elasticity technology.</p>
    {{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Kapacity is based on Ant's internal ultra-large-scale production business practice, and aims to provide users with a set of intelligent and open cloud-native capacity technologies with complete technical risk capabilities, helping users to safely and stably achieve extreme cost reduction and efficiency increase, and solve capacity-related problems .
{{% /blocks/lead %}}

{{< blocks/section color="white" >}}
{{% blocks/feature icon="fa-book" title="Introduction" url="/docs" %}}
Kapacity is a cloud-native intelligent capacity elasticity technology.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributing" url="https://github.com/traas-stack/kapacity.git" %}}
We do a [Pull Request](https://github.com/traas-stack/kapacity/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fa fa-envelope" title="Email" %}}
If you have a good idea, you can contact us by email: traaskapacity.io@gmail.com

{{% /blocks/feature %}}


{{< /blocks/section >}}


